.navigation{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(199, 199, 8);
    border-bottom: 1px dotted;
}
.navigation a{
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(14, 14, 163);
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 17px;
}